:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 85px;
}

h3 {
  font-size: 48px;
  font-family: var(--heading-font);
}

h4 {
  text-align: center;
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

p {
  color: #272142;
  font-size: 16px;
  line-height: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 15px;
}

nav li .active,
nav a:hover {
  color: var(--secondary-color);
}

nav a {
  text-decoration: none;
  color: black;
}

.about-picture {
  border-radius: 300px;
}

.btn-branding,
.contact-button {
  padding: 15px 35px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
}

.btn-projects {
  padding: 15px 35px;
  border-radius: 4px;
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 24px;
}

.content-container h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 20px 0px;
}

.contact-logo {
  font-size: 30px;
  color: var(--secondary-color);
}

.contact-heading {
  background-color: var(--primary-color);
  padding: 80px;
}

.contact-links a {
  font-size: 18px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 90px;
  margin: 15px;
}

.hero h2 {
  font-weight: 700;
  font-size: 36px;
}

.hero p {
  font-size: 24px;
}

.hero {
  background-color: var(--primary-color);
  padding: 160px 50px;
  text-align: center;
}

.logo {
  color: black;
  font-weight: bold;
  padding: 6px 10px;
  border: 1px solid var(--secondary-color);
  opacity: 0.6;
  border-radius: 4px;
  display: flex;
  justify-content: text-start;
}

.project-description {
  padding: 120px 60px;
}

.project-container {
  text-align: center;
  margin-top: 30px;
}

.work-inquiry {
  background-color: var(--primary-color);
  padding: 100px;
  border-radius: 4px;
}

#cookie-image {
  text-align: center;
}

@media (max-width: 900px) {
  h1,
  h2,
  h3,
  p,
  .launch-button {
    text-align: center;
  }

  h1 {
    font-size: 60px;
    line-height: 1.5;
  }

  h2 {
    font-size: 40px;
  }

  small {
    font-size: 10px;
  }

  nav {
    font-size: 11px;
  }

  .project-image,
  .work-inquiry {
    display: none !important;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero p {
    font-size: 18px;
  }

  .project-description {
    padding: 0 5px;
  }

  .view-projects-btn {
    text-align: center;
    margin-bottom: 30px;
  }
}
